<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Currency Converter</title>
</head>
<body>
  <body>
    <div class="card d-flex">
      <h2 class="card__heading">Results</h2>
        <p class="card__subheading">As on <%= result.date %>:</p>
        <p class="card__content"><span class="card__boldText"> <%=amount %> <%=fromCurrency %> = <%=result.result %> <%=toCurrency %></span></p>
        <a href="/" class="link">
          <button type="button" class="btn">Go Back</button>
        </a>
    </div>
  </body>
</body>
</html>